/* ============================================
   RESET & GLOBAL
   ============================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #1f2a44;
    line-height: 1.5;
    overflow-x: hidden;
    width: 100%;
}

.credContainer {
    padding: var(--spacing-xl);
    max-width: 1400px;
    margin: 0 auto;
    width: calc(100% - 240px);
    position: absolute;
    right: 0;
    top: 0;
}

@media (max-width:850px) {
    .credContainer {
        width: 100%;
        position: absolute;
        top: 0;
    }

}


/* Imágenes responsivas */
img,
video,
iframe {
    max-width: 100%;
    height: auto;
}