<footer class="app-footer">
    <div class="app-footer-container">
        <div class="footer-left">
            <a href="https://rsienterprise.web.app/" target="_blank" class="footer-logo-link">
                <img class="footer-logo" src="/assets/icons/logoRsi.png" alt="RSI Enterprise">
                <span class="copyright-text">RSI Enterprise México | Todos los derechos reservados | ©2025 </span>
            </a>
        </div>
        <div class="footer-right">
            <div class="current-datetime">
                <i class="fas fa-calendar-alt"></i>
                <span id="currentDateTime">--/---/---- | --:--:--</span>
            </div>
        </div>
    </div>
</footer>