/* ========================================
   MAIN CSS - RSI Enterprise
   Punto de entrada de todos los estilos
   ======================================== */

/* Base */
@import url('./base/variables.css');
@import url('./base/reset.css');
@import url('base/typography.css');

/* Layout 
@import url('./layout/containers.css');
@import url('./layout/grid.css');
@import url('./layout/sections.css');
*/
/* Components 
@import url('./components/buttons.css');
@import url('./components/cards.css');
@import url('./components/tables.css');
*/

/* ------------- Components ------------- */



/* ------------- Visitor ------------- */

@import url('./components/visitor/footer.css');
@import url('./components/visitor/navbar.css');
@import url('./components/forms.css');


/* ------------- shared ------------- */

/* errors */
@import url('./shared/errors/404.css');



/* Pages */


/* ------------- visitor ------------- */

/* home */
@import url('./pages/visitor/home/home.css');

/* login */
@import url('./pages/visitor/login/login.css');

/* plans */
@import url('./pages/visitor/plans/plans.css');

/* contact */
@import url('./pages/visitor/contact/contact.css');

/* aboutUs */
@import url('./pages/visitor/aboutUs/aboutUs.css');

/* createAccount */
@import url('./pages/visitor/createAccount/createAccount.css');







/* Utilidades (opcional) 
@import url('utils/animations.css');
/* @import url('utils/helpers.css'); */
/* @import url('utils/responsive.css'); */

/* Estilos base adicionales */
body {
    padding-top: 80px;
}

#app {
    min-height: calc(100vh - 400px);
}

@media (max-width: 768px) {
    body {
        padding-top: 70px;
    }
}